<tr id="subject_tr{{ row.id }}" class="message {% if user == row.user %}currentuser{% else %}otheruser{%endif %} level{{ row.indent }}" xmlns:ww="http://www.w3.org/1999/XSL/Transform">
	{# message subject line #}
  <td colspan="5" style="padding-left: {{ row.indent_px }}px;" class="{% if user == row.user %}currentuser{% else %}otheruser{%endif %}">

		<div class="subject{{ bound_row.unread_css_class.value }}">
	
			{# if text archive #}
			{% if area_mode == 1 %}
				<span class="label">{{ bound_row.subject.value }}<br />
				{{ row.noWords }}</span> words

			{# if normal flat or threaded area #}
			{% else %}
				<span class="label">{{ bound_row.subject.value }}</span>
			{% endif %}

			{# written by #}
            - <a href="">{{ bound_row.user.value }}</a>

			{# first new anchor #}
			{% if first_new_pk == row.pk %}
                <a name="firstnew" id="firstnew" ></a>
			{% endif %}

            <a name="{{ row.pk }}"></a>
		</div>
  </td>
  <td valign="top" class="right-margin-top {% if user == row.user %}currentuser{% else %}otheruser{%endif %}{{ bound_row.unread_css_class.value }}">

    {# time #}
    <div>
    	<span class="time">{{ row.timecreated }}</span>&nbsp;
    </div>

  </td>
</tr>
<tr id="body_tr{{ row.id }}" class="message level{{ row.indent }}">
	{# message body #}
  <td colspan="5" style="padding-left: {{ row.indent_px }}px;" class="body {% if user == row.user %}currentuser{% else %}otheruser{%endif %}">
    <div class="innerbody{{ bound_row.unread_css_class.value }}">{{ bound_row.body.value }}&nbsp;</div>
		<br />
		{% if row.body %}<br />{% endif %}
  </td>
  <td valign="top" class="right-margin {% if user == row.user %}currentuser{% else %}otheruser{%endif %}{{ bound_row.unread_css_class.value }}">
		<div>
			{% include "bits/reply.html" %}<br>
			{% include "bits/edit.html" %}
            <a href="{{ bound_row.unread_from_here_href.value }}">unread&nbsp;from&nbsp;here</a><br/>

			{% include "bits/del.html" %}
			{% include "bits/deleted.html" %}
		</div>
  </td>
</tr>
