<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>{{ user }} - SKForum</title>{% endblock %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/forum-minimalist.css" >
    <script type="text/JavaScript" src="/static/forum.js"></script>
    <link id="favicon" rel="shortcut icon" type="image/png" href="static/killing-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block extra_head %}{% endblock %}
</head>

<body{% block body_attributes %}{% endblock %}>

{% block before_content %}{% endblock %}

{% block content %}
{% endblock %}

{% block after_content %}{% endblock %}

</body>
</html>

