{% load forum %}
<tr{{ bound_row.rendered_attrs }} id="subject_tr{{ row.id }}" class="message_row1">
    <td style="border-left: {{ row.indent_rem }}rem solid white" onClick="collapseExpand('{{ row.id }}')" class="message">
        <img class="profile_img" src="{{ row.gravatar_url }}"/>

        <a href="#">{{ row.user }}</a>
        {{ row.text|pre }}

    </td>
</tr>
<tr class="message_row2">
    <td style="border-left: {{ row.indent_rem }}rem solid white" onClick="collapseExpand('{{ row.id }}')" class="subject">
        {% if row.first_new %}
            <a name="first_new"></a>
        {% endif %}
        <a name="{{ row.id }}"></a>

        {% if row.first_new %}
            <a name="first_new" id="first_new"></a>
        {% endif %}

        <a name="{{ row.id }}"></a>

        <span class="tools">
            {% include "forum/bits/reply.html" %}
            {% include "forum/bits/unread_from_here.html" %}
            {% include "forum/bits/edit.html" %}
            {% include "forum/bits/del.html" %}

            <span class="time">{{ row.last_changed_time }}</span>

            <span id="expandIcon{{ row.id }}">
            </span>
            <span id="collapseIcon{{ row.id }}" style="display:none;">
                &lt; collapsed! &gt;
            </span>
        </span>
    </td>
</tr>
<tr><td class="spacer"></td></tr>
