{% load forum %}
<tr{{ cells.attrs }}>
    <td style="border-left: {{ row.indent_rem }}rem solid white" class="message">
        <a id="{{ row.id }}"></a>

        {% if row.first_new %}
            <a id="first_new"></a>
        {% endif %}

        <img class="profile_img" src="{{ row.gravatar_url }}"/>

        {# TODO: link to user profile or something #}
        <a href="#">{{ row.user }}</a>
        {{ cells.text }}

    </td>
</tr>
<tr{{ cells.attrs }}>
    <td style="border-left: {{ row.indent_rem }}rem solid white" class="subject">
        <span class="tools">
            {% include "forum/bits/reply.html" %}
            {% include "forum/bits/unread_from_here.html" %}
            {% include "forum/bits/edit.html" %}
            {% include "forum/bits/del.html" %}

            <span class="time">{{ row.last_changed_time }}</span>

            <span id="expandIcon{{ row.id }}">
            </span>
            <span id="collapseIcon{{ row.id }}" style="display:none;">
                &lt; collapsed! &gt;
            </span>
        </span>
    </td>
</tr>
<tr>
    <td style="border-left: {{ row.indent_rem }}rem solid white">
         <div id="reply-area-{{ row.id }}"></div>
    </td>
</tr>
<tr><td class="spacer"></td></tr>
