{% extends "forum/base.html"  %}

{% block content %}

    <script>
        document.body.onscroll = onscroll_show_unread;
    </script>

    <div id="fixed-top-unread"></div>

    {% include "forum/room-header.html" %}

    <div class="fixed-header-padding"></div>

    {% include 'tri_table/list.html' %}

    <hr>

    {% include "forum/room-footer.html" %}

    <div id="fixed-bottom-unread"></div>

    {% if is_mobile %}
        <script>
            start_subscription_refresh_subpage();
        </script>
    {% endif %}
{% endblock %}
