{% extends "forum/base.html"  %}

{% block content %}

    <script>
        document.body.onscroll = onscroll_show_unread;
    </script>

    <div id="fixed-top-unread"></div>

    <div class="fixed-header">
        <h1>
            {{ room.name }}
        </h1>

        <span id="navigate-back"><a href="/"><i class="fas fa-chevron-left"></i> menu</a></span>
    </div>

    <div class="fixed-header-padding"></div>

    {% include 'tri_table/list.html' %}

    <hr>

    <div id="room-footer-bottom">
        {% include "forum/room-footer.html" %}
    </div>

    <div id="fixed-bottom-unread"></div>

    <script>
        start_subscription_refresh_subpage();
    </script>
{% endblock %}
