{% load forum %}
<div id="room-footer-bottom">

    <center id="room-footer" class="block">

        <div id="room-footer-block">
            <span class="back-tools">
                {% if has_previous %}
                    <a class="button-ish first" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page=1&time={{ time }}#first_new" name="first" target="_self">&lt;&lt;</a>

                    <a class="button-ish previous" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ previous }}&time={{ time }}#first_new" name="prev" target="_self">&lt;</a>
                {% endif %}
            </span>

            <span class="tool-middle">

                {% if table.extra.unread %}
                    <a class="button-ish" href="/rooms/{{ room.pk }}/?&unread_from_here={{ time }}&page={{ page }}#first_new" name="keep_unread" target="_self">Keep unread</a>
                {% endif %}

                <a class="button button-outline" href="write/?time={{ time }}" name="speak_up" target="_self">New message</a>

            </span>

            <span class="forward-tools">
                {% if has_next %}
                    <a class="button-ish next" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ next }}&time={{ time }}#first_new" name="next" target="_self">&gt;</a>

                    <a class="button-ish latest" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ pages }}&time={{ time }}#first_new" name="latest" target="_self">&gt;&gt;</a>
                {% endif %}
            </span>
        </div>

    </center>

    </div>
