{% extends "forum/base.html"  %}

{% block content %}

    <script>
        document.body.onscroll = function () {
            var show_unread_top = false;
            var show_unread_bottom = false;

            for (let unread_item of document.getElementsByClassName('unread')) {
                let position = unread_item.getBoundingClientRect();
                if (position.bottom < 0) {
                    show_unread_top = true;
                }
                if (position.top > window.innerHeight) {
                    show_unread_bottom = true;
                }

                if (show_unread_top && show_unread_bottom) {
                    break;
                }
            }

            if (show_unread_top) {
                document.getElementById('fixed-top-unread').style.display = 'inline';
            }
            else {
                document.getElementById('fixed-top-unread').style.display = 'none';
            }
            if (show_unread_bottom) {
                document.getElementById('fixed-bottom-unread').style.display = 'inline';
            }
            else {
                document.getElementById('fixed-bottom-unread').style.display = 'none';
            }
        };
    </script>

    <div id="fixed-top-unread"></div>

    <div class="fixed-header">
        <h1>
            {{ room.name }}
        </h1>

        <span id="navigate-back"><a href="/"><i class="fas fa-chevron-left"></i> menu</a></span>
    </div>

    <div class="fixed-header-padding"></div>

    {% include 'tri_table/list.html' %}

    <hr>

    <div id="room-footer-bottom">
        {% include "forum/room-footer.html" %}
    </div>

    <div id="fixed-bottom-unread"></div>

{% endblock %}
