{% extends "iommi/base_forum.html" %}

{% block body_attributes %}
    id="subscriptions"
{% endblock %}

{% block extra_head %}
    <base target="{% block target %}main{% endblock %}">

    <script>
        function toggle_passive() {
            let passive = document.getElementById('passive');
            let toggler = document.getElementById('toggle_passive');
            if (passive.className === 'menu passive') {
                passive.className = 'menu';
                toggler.innerHTML = '<i class="fas fa-chevron-up"></i>';
            }
            else {
                passive.className = 'menu passive';
                toggler.innerHTML = '<i class="fas fa-chevron-down"></i>';
            }
        }
    </script>

{% endblock %}

{% block content %}
    <h1>
        {% if request.user_agent.is_mobile %}
            SK
        {% else %}
            <a href="/welcome/">SK</a>
        {% endif %}
    </h1>

    <ul class="menu">
        <li><a href="/wiki/wiki/index/">Wiki</a></li>
    </ul>

    <ul class="menu">
        <li><a href="/wiki/">Wiki contexts</a></li>
    </ul>

    {% for foo in result %}
        {% include "forum/subscription_group.html" with title=foo.title active=foo.active passive=foo.passive %}
    {% endfor %}

    <p></p>

    <a href="/logout/" target="_top" style="padding-left: 2rem">log out</a>

    <script>
        start_subscription_refresh();
    </script>

{% endblock %}
