{% extends "forum/base.html" %}

{% block extra_head %}
    <meta http-equiv="refresh" content="60">
    <base target="main">
{% endblock %}

{% block content %}

    <h1>SK</h1>

    {% include "forum/subscription_links.html" with list=active id='active' %}

    <style>
        #passive {
            display: none;
        }
    </style>

    <div onclick="document.getElementById('passive').style.display = 'block'">Show passive</div>

    {% include "forum/subscription_links.html" with list=passive id='passive' %}

{% endblock %}
