{% if indent == 0 && splitBody.param(description) %}
	{% if currentUser.id == ownerID %}
		{% set currentUserCSS = currentuser %}
	{% else %}
		{% set currentUserCSS = otheruser %}
	{% endif %}
	
	<tr id="subject_tr{{ id }}" class="message {{ currentUserCSS }} level{{ indent }}">
		{# message subject line #}
		<td colspan="5" class="{{ currentUserCSS }}">
	
			<div class="subject{{ bound_row.unread_css_class.value }}">
				<a href="{{ splitBody.param(url) }}" class="label">{{ splitBody.param(title) }}</a>
	
				{# written by #}
				- <sk:user value="ownerID" />
	
				{# first new anchor #}
				{% if areaInfo.firstnewID == id %}
					<a name="firstnew" id="firstnew" />
				{% endif %}
	
				<a name="{{ id }}" />
			</div>
		</td>
		<td valign="top" class="right-margin-top {{ currentUserCSS }}{{ bound_row.unread_css_class.value }}">
	
			{# time #}
			<div class="{{ bound_row.unread_css_class.value }}">
				<span class="time"><ww:date value="timecreated"/></span>&nbsp;
			</div>
	
		</td>
	</tr>
	<tr id="body_tr{{ id }}" class="message level{{ indent }}">
		{# message body #}
		<td colspan="5" style="" class="body {{ currentUserCSS }} {{ bound_row.unread_css_class.value }}">
			<sk:pre>{{ splitBody.param(description) }}</sk:pre>
		</td>
		<td valign="top" class="right-margin {{ currentUserCSS }}{{ bound_row.unread_css_class.value }}">
			<div>
				{% include "bits/reply.html" %}
				{% include "bits/edit.html" %}
				{% include "bits/unread_from_here.html" %}
				{% include "bits/del.html" %}
				{% include "bits/deleted.html" %}
			</div>
		</td>
	</tr>
{% else %}
	{% include "default-message.html" %}
{% endif %}