{% load forum %}
<tr{{ bound_row.rendered_attrs }}>
	{# message subject line #}
    <td style="border-left: {{ row.indent_px }}px solid black;" onClick="collapseExpand('{{ row.id }}')" class="subject">
        {% if row.firstnew %}
            <a name="firstnew"></a>
        {% endif %}
        <a name="{{ row.id }}"></a>

        <span id="expandIcon{{ row.id }}">
            -
        </span>
        <span id="collapseIcon{{ row.id }}" style="display:none;">
            +
        </span>

        <span class="label">{{ row.subject|pre }}</span>

        {# written by #}
        - <a href="#">{{ row.user }}</a>

        {# deleted #}
        {% if row.visible == false %}
            <td class="right-margin">
                {% include "room/bits/deleted.html" %}
            </td>
        {% endif %}

        {# first new anchor #}
        {% if row.first_new %}
            <a name="first_new" id="first_new"></a>
        {% endif %}

        <a name="{{ row.id }}"></a>
    </td>
    <td width="60" valign="top" class="right-margin-top">

        {# time #}
        <span class="time">{{ row.last_changed_time }}</span>

	</td>
    <td style="width: 40px;" valign="top" class="right-margin-top">{% include "room/bits/reply.html" %}</td>
    <td style="width: 50px;" valign="top" class="right-margin-top">{% include "room/bits/unread_from_here.html" %}</td>
    <td style="width: 40px;" valign="top" class="right-margin-top">{% include "room/bits/edit.html" %}&nbsp;</td>
    <td style="width: 30px;" valign="top" class="right-margin-top right-margin-top-left">{% include "room/bits/del.html" %}&nbsp;</td>
</tr>
<tr id="body_tr{{ row.id }}" class="message level{{ row.indent }}">
	{% if row.body %}
		{# message body #}
		<td style="padding-left: {{ row.indent_px }}px;" class="body " colspan="{% if not row.visible %}5{% else %}6{% endif %}">
			<div class="innerbody">{{ row.body|pre }}&nbsp;</div><br />
		</td>
	{% else %}
		<td style="padding-left: {{ row.indent_px }}px;" class="" colspan="{% if visible == false %}5{% else %}6{% endif %}">
			<div class="nobody">&nbsp;</div>
		</td>
	{% endif %}
</tr>
