{% load forum %}
<center id="room-footer" class="block">
	<div id="room-footer-block1">
		{% if is_subscribed %}
			<a href="/hotlist.Remove.action">Unsubscribe</a>
		{% else %}
			<a href="/hotlist.Add.action">Subscribe</a>
		{% endif %}

		{% if not show_hidden %}
			<a class="button-ish" href="/rooms/{{ room.pk }}/?&time={{ time  }}&page={{ page }}&show_hidden=1#first_new" name="show_deleted" target="_self">Show deleted</a>
		{% else %}
			<a class="button-ish" href="/rooms/{{ room.pk }}/?&time={{ time }}&page={{ page }}&show_hidden=0#first_new" name="hide_deleted" target="_self">Hide deleted</a>
		{% endif %}

		{% if table.extra.unread %}
			<a class="button-ish" href="/rooms/{{ room.pk }}/?&unread_from_here={{ time }}&page={{ page }}#first_new" name="keep_unread" target="_self">Keep unread</a>
		{% endif %}

        <a class="button button-outline" href="write/?time={{ time }}" name="speak_up" target="_self">New message</a>
	</div>

	<div id="room-footer-block2">
		{% if has_previous %}
			<a class="button-ish" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page=0&time={{ time }}#first_new" name="first" target="_self"><< first</a>

			<a class="button-ish" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ previous }}&time={{ time }}#first_new" name="prev" target="_self">< prev</a>
		{% endif %}

		{% if has_next %}
			<a class="button-ish" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ next }}&time={{ time }}#first_new" name="next" target="_self">next ></a>

			<a class="button-ish" href="/rooms/{{ room.pk }}/?show_hidden={{ show_hidden }}&page={{ pages }}&time={{ time }}#first_new" name="latest" target="_self">latest >></a>
		{% endif %}
	</div>

</center>
