{% extends "tri_form/create_or_edit_object_block.html" %}

{% block body_attributes %}
    class="form"
{% endblock %}


{% block before_content %}
    <h1>{{ room }}</h1>

    <hr>

    {% if parent %}
        <table class="listview roomtable">
            {% include "room/message.html" with row=parent %}
        </table>

        <hr>
    {% endif %}

{% endblock %}


{% block after_content %}
    <script>
        document.getElementById("id_text").focus();
        document.getElementById("id_text").onkeydown = formKeyboardHandler;
    </script>
{% endblock %}
