:root {
    --unread-bg-color: #dfd0ff;
    --unread2-bg-color: #F7EFFF;
    --subtle-text: lightgray;

    --small-space: 0.5rem;
    --normal-space: 1rem;

    --dark-unread-bg-color: #5529a1;

    --fixed-header-height: 5rem;

    --link-color: #9b4dca;

    --menu-bg-color: #351a61;
}

/* subscriptions list */
#subscriptions {
    background-color: var(--menu-bg-color);
    color: white;
    margin: 0;
}

#subscriptions h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    color: #9b4dca;
}

.passive li {
    display: none;
}
.passive li.unread {
    display: inline;
}

/* end subscriptions list */

.listview {
    width: auto;
}

th {
    padding-right: 1rem;
}

.content_text {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.time {
    white-space: nowrap;
    color: var(--subtle-text);
}

.roomtable {
    max-width: 70rem;
    padding: var(--normal-space) var(--small-space) 0;
}

#room-footer-bottom {
    padding-bottom: var(--normal-space);
}

.tools {
    margin-left: var(--small-space);
    font-size: 80%;
}

.tools * {
    margin-right: var(--normal-space);
}

.profile_img {
    border-radius: 100%;
    height: 2.5rem;
    float: left;
    margin-right: var(--small-space);
    position: relative;
    left: -0.4rem;
    margin-left: -3rem;
}

.message {
    padding-left: var(--small-space);
}

.unread {
    background: var(--unread-bg-color);
}

.unread2 {
    background: var(--unread2-bg-color);
}

.spacer {
    height: var(--normal-space);
}

.form input,
.form textarea {
    min-width: 500px;
}
.form textarea {
    height: 30rem;
    border: 1px solid lightgray;
}
.form input[type=submit] {
    min-width: auto;
}

.form {
    text-align: center;
}

.form form {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.form .links {
    text-align: right;
}

.form td {
    white-space: nowrap;
}

.form label,
.form input[type=checkbox],
.form input[type=radio]{
    padding-right: 1rem;
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

input[type=checkbox] + label,
input[type=radio] + label {
    text-align: left;
}

form .tablewrapper {
    width: 100%;
}

input[type=radio] {
    width: auto;
}

.button-ish {
    padding: 0.2rem 0.7rem;
}

#room-footer-block .back-tools,
#room-footer-block .forward-tools {
    width: 16rem;
    display: inline-block;
    white-space: nowrap;
}

#room-footer-block .previous::after {
    content: ' Previous';
}
#room-footer-block .first::after {
    content: ' First';
}
#room-footer-block .next::before {
    content: 'Next ';
}
#room-footer-block .latest::before {
    content: 'Latest ';
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0.0rem 0;
}

.menu li a {
    display: block;
    padding-left: 2rem;
    color: white;
}


.menu li a.unread:hover {
    background-color: #b550cd;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu .unread {
    background-color: #A150B9;
}

/* wiki */

ins {
    background: var(--unread-bg-color);
}

del {
    background-color: red;
}


/* Copied and modified from milligram or normalize */
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: var(--link-color);
    border: 0.1rem solid var(--link-color);
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
background-color: transparent;
color: var(--link-color);
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 2.0rem;
    margin-top: 0;
    text-align: center;
}
h1 {
font-size: 3.5rem;
line-height: 1.2;
margin: 0.67rem 0;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--fixed-header-height);
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #e6e7e8;
    z-index: 1;
}

#navigate-back {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    display: none;
}

#header-tools {
    position: fixed;
    right: 0;
    top: 1.5rem;
}

.fixed-header-padding {
    height: var(--fixed-header-height);
}

#fixed-top-unread, #fixed-bottom-unread {
    position: fixed;
    background-color: var(--link-color);
    height: 0.5rem;
    width: 100%;
    z-index: 2;
}

#fixed-top-unread {
    top: 0;
}
#fixed-bottom-unread {
    bottom: 0;
}



body {
    color: #000;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}

*, *:after, *:before {
box-sizing: inherit;
}

td, th {
/*padding: 1.2rem 1.5rem;*/
text-align: left;
}

table {
border-spacing: 0;
width: 100%;
}

a {
color: var(--link-color);
text-decoration: none;
}

html {
box-sizing: border-box;
font-size: 62.5%;
}
html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}


hr {
border: 0;
border-top: 0.1rem solid #e6e7e8;
margin: 1.5rem 0;
}



/* mobile specific */

@media only screen and (max-device-width : 812px) {
    html {
        font-size: 8px;
        font-weight: normal;
    }

    #subscriptions {
        font-size: 2rem;
    }

    #room-footer-block .back-tools,
    #room-footer-block .forward-tools {
        width: 6rem;
    }

    #room-footer-block .previous::after {
        content: '';
    }
    #room-footer-block .first::after {
        content: '';
    }
    #room-footer-block .next::before {
        content: '';
    }
    #room-footer-block .latest::before {
        content: '';
    }

    #navigate-back {
        display: inline;
    }
}

/* Menu component */

nav {
    margin: 0;
    padding: 0;
    position: sticky;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border: 1px solid #e6e7e8;
    width: 17rem;
}

nav ul li {
    margin: 0;
    display: inline-block;
    float: left;
    background-color: white;
    padding: 0.5rem 1rem;
}

nav a {
    display: block;
}


li > a:after {
    content: ' +';
}

li > a:only-child:after {
    content: '';
}


nav {
    margin: 0;
    text-align: right;
}

.toggle + a,
.tools-menu {
    display: none;
}

.toggle, [id^=drop] {
    display: none;
}

.toggle {
    display: block;
    background-color: white;
    padding: 0 20px;
    text-decoration: none;
    border: none;
}

.toggle:hover {
}

[id^=drop]:checked + ul {
    display: block;
}

nav ul li {
    display: block;
    width: 100%;
}
