.time {
    white-space: nowrap;
    color: lightgray;
}

.roomtable {
    padding: 0 10px;
    max-width: 70rem;
}

.tools {
    margin-left: 0.5rem;
    font-size: 80%;
}

.tools * {
    margin-right: 1rem;
}

.profile_img {
    border-radius: 100%;
    height: 2.5rem;
    float: left;
    margin-right: 0.5rem;
    position: relative;
    left: -0.4rem;
    margin-left: -3rem;
}

.message {
    padding-left: 0.5rem;
}

.unread {
    background: #dfd0ff;
}

.unread2 {
    background: #F7EFFF;
}

.spacer {
    height: 1rem;
}

.form input,
.form textarea {
    width: 100%;
}
.form textarea {
    height: 30rem;
    border: 1px solid lightgray;
}
.form input[type=submit] {
    width: auto;
}
.form {
    text-align: center;
}

.form form {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.form .links {
    text-align: right;
}

.button-ish {
    padding: 0.2rem 0.7rem;
}

#room-footer-block .back-tools,
#room-footer-block .forward-tools {
    width: 16rem;
    display: inline-block;
    white-space: nowrap;
}

#room-footer-block .previous::after {
    content: ' Previous';
}
#room-footer-block .first::after {
    content: ' First';
}
#room-footer-block .next::before {
    content: 'Next ';
}
#room-footer-block .latest::before {
    content: 'Latest ';
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li a {
    display: block;
    padding-left: 2rem;
    color: white;
}


.menu li a.unread:hover {
    background-color: #b550cd;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu .unread {
    background-color: #A150B9;
}


/* Copied and modified from milligram or normalize */
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
background-color: transparent;
color: #9b4dca;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-bottom: 2.0rem;
    margin-top: 0;
    text-align: center;
}
h1 {
font-size: 3.5rem;
line-height: 1.2;
margin: 0.67rem 0;
}


body {
color: #606c76;
font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
font-size: 1.6rem;
font-weight: 300;
line-height: 1.6;
}
body {
margin: 0;
}

*, *:after, *:before {
box-sizing: inherit;
}

td, th {
/*padding: 1.2rem 1.5rem;*/
text-align: left;
}

table {
border-spacing: 0;
width: 100%;
}

a {
color: #9b4dca;
text-decoration: none;
}

html {
box-sizing: border-box;
font-size: 62.5%;
}
html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}


hr {
border: 0;
border-top: 0.1rem solid #e6e7e8;
margin: 1.5rem 0;
}



/* mobile specific */

@media only screen and (max-device-width : 812px) {
    html {
        font-size: 8px;
        font-weight: normal;
    }

    #room-footer-block .back-tools,
    #room-footer-block .forward-tools {
        width: 6rem;
    }

    #room-footer-block .previous::after {
        content: '';
    }
    #room-footer-block .first::after {
        content: '';
    }
    #room-footer-block .next::before {
        content: '';
    }
    #room-footer-block .latest::before {
        content: '';
    }
}
