{% load forum %}
<center id="area-head" class="block">
	<div id="area-head-block1">
		<span class="label {% if table.extra.unread %}unread{% else %}odd{% endif %}{% if area.description %} moreinfo{% endif %}"
			{% if area.description %}OnMouseOver="show(tooltipArea{{ area.id }}top, inline);" OnMouseOut="hide(tooltipArea{{ area.id }});"{% endif %}>
			<div id="tooltipArea{{ area.id }}top" class="tooltip" OnMouseOut="hide(tooltipArea{{ area.id }});"><span class="label">{{ area.name }}</span><p></p><sk:pre>{{ area.description }}</sk:pre></div>
			{{ area.name }}
		</span>

		{# subscription status #}
		{% if is_subscribed %}
			<a href="/hotlist.Remove.action">-</a>
		{% else %}
			<a href="/hotlist.Add.action">+</a>
		{% endif %}

		{# faq #}
		[<a href="/faq.html?topic=areas" target="_self">?</a>]

		{# show hidden #}
		{% if not showHidden %}
			[ <a href="/areas/{{ area.pk }}/?areaID=area/id&time={{ time  }}&page=pageID&showHidden=1#firstnew" name="show_deleted" target="_self">show deleted</a> ]
		{% else %}
			[ <a href="/areas/{{ area.pk }}/?areaID=area/id&time={{ time }}&page=pageID&showHidden=0#firstnew" name="hide_deleted" target="_self">show hidden</a> ]
		{% endif %}

		{# keep unread #}
		{% if table.extra.unread %}
			[ <a href="/areas/{{ area.pk }}/?areaID=area/id&unread_from_here={{ time }}&page=pageID#firstnew" name="keep_unread" target="_self">keep unread</a> ]
		{% endif %}

		{# search #}
		[ <a href="area.Search.action" name="search" target="_self">search</a> ]

		Page {{ page }}/{{ pages }}

		{# write #}
        {# TODO: access control #}
		<sk:areaaccess access="add message" areagroup="area/areaGroupID">
			- <a href="write/?time={{ time }}" name="speak_up" target="_self">speak up</a>
		</sk:areaaccess>

		{% if start_page != 1 or page != pages %}
			{% include "hr.html" %}
		{% endif %}
	</div>

	<div id="area-head-block2">
		{# first & prev #}
		{% if has_previous %}
			[ <a href="/areas/{{ area.pk }}/?showHidden={{ showHidden }}&page=0&time={{ time }}#firstnew" name="first" target="_self"><< first</a> ]

			[ <a href="/areas/{{ area.pk }}/?showHidden={{ showHidden }}&page={{ previous }}&time={{ time }}#firstnew" name="prev" target="_self">< prev</a> ]
		{% endif %}

		{# next & latest #}
		{% if has_next %}
			[ <a href="/areas/{{ area.pk }}/?showHidden={{ showHidden }}&page={{ next }}&time={{ time }}#firstnew" name="next" target="_self">next ></a> ]

			[ <a href="/areas/{{ area.pk }}/?showHidden={{ showHidden }}&page={{ pages }}&time={{ time }}#firstnew" name="latest" target="_self">latest >></a> ]
		{% endif %}
	</div>

</center>
