{% include "htmlhead.html" %}
        <title><ww:text name="confirm_message_deletion"/></title>
        <link rel="stylesheet" type="text/css" href="/static/forum.css"/>
    </head>
    <body>
        <center class="block">- <ww:text name="confirm_message_deletion"/> -</center>
        <img src="/static/img/color.gif" width="100%" height="13" alt="---">

        <table align="center" class="widetable">
            <ww:focus value="message">
                {% include "message.html" %}
            </ww:focus>
        </table>

        <img src="/static/img/color.gif" width="100%" height="13" alt="---">

        Really delete message?
        [ <a href="area.DeleteMessage.action&page=page&time={{ time }}&delete=true#firstnew" target="_self">yes</a> ]
        [ <a href="/areas/{{ messsage.area.pk }}/?page=page&time={{ time }}#firstnew" target="_self">>no</a> ]
            
{% include "htmlfoot.html" %}
