{% load forum %}
<tr{{ bound_row.rendered_attrs }}>
	{# message subject line #}
    <td style="border-left: {{ row.indent_px }}px solid black;" onClick="collapseExpand('{{ row.id }}')" class="subject">
        {% if row.firstnew %}
            <a name="firstnew"></a>
        {% endif %}
        <a name="{{ row.id }}"></a>

        <span id="expandIcon{{ row.id }}">
            -
        </span>
        <span id="collapseIcon{{ row.id }}" style="display:none;">
            +
        </span>

        {% if area.mode == 1 %}
                {# if text archive #}
            <span class="label">{{ row.subject|pre }}</span><br />
            Words: {{  row.words }}
        {% else %}
                {# if normal flat or threaded area #}
            <span class="label">{{ row.subject|pre }}</span>
        {% endif %}

        {# written by #}
        - <a href="#">{{ row.user }}</a>

        {# deleted #}
        {% if row.visible == false %}
            <td class="right-margin">
                {% include "area/bits/deleted.html" %}
            </td>
        {% endif %}

        {# first new anchor #}
        {% if areaInfo.firstnewID == row.id %}
            <a name="firstnew" id="firstnew"></a>
        {% endif %}

        <a name="{{ row.id }}"></a>
    </td>
    <td width="60" valign="top" class="right-margin-top">

        {# time #}
        <span class="time">{{ row.time_created }}</span>

	</td>
	{% if area.mode == '2' %}
		<td style="width: 40px;" valign="top" class="right-margin-top">{% include "area/bits/reply.html" %}</td>
    {% endif %}

    <td style="width: 50px;" valign="top" class="right-margin-top">{% include "area/bits/unread_from_here.html" %}</td>
    <td style="width: 40px;" valign="top" class="right-margin-top">{% include "area/bits/edit.html" %}&nbsp;</td>
    <td style="width: 30px;" valign="top" class="right-margin-top right-margin-top-left">{% include "area/bits/del.html" %}&nbsp;</td>
</tr>
<tr id="body_tr{{ row.id }}" class="message level{{ row.indent }}">
	{% if row.body %}
		{# message body #}
		<td style="padding-left: {{ row.indent_px }}px;" class="body " colspan="{% if not row.visible %}5{% else %}6{% endif %}">
			<div class="innerbody">{{ row.body|pre }}&nbsp;</div><br />
		</td>
	{% else %}
		<td style="padding-left: {{ row.indent_px }}px;"     class="" colspan="{% if visible == false %}5{% else %}6{% endif %}">
			<div class="nobody">&nbsp;</div>
		</td>
	{% endif %}
</tr>
