{% include "htmlhead.html" %}
        <title>search {{ area.name }}</title>
        <link rel="stylesheet" type="text/css" href="<ww:url value="forum.css"/>"/>
    </head>
    <body>
        <center><b>search {{ area.name }}</b> - [<a href="/faq.html&topic=areas" target="_self">?</a>]</center>
        <img src="/static/img/color.gif" width="100%" height="13" alt="---">
        <form method="post" target="_self">
            <input type="hidden" name="areaID" value="{{ area.id }}" />
            <table class="widetable">
                <ww:textfield name="search" label="text(search_for)" value="search" />
				<ww:textfield name="username" label="text(search_by_user)" value="username" />
				<tr><td></td><td><input class="optionbox" type="radio" name="searchType" id="searchType1" value="1"{% if searchType == 1 %} checked="checked"{% endif %}/><label style="display: inline;" for="searchType1">{{ text(search_this_area) }}</label></td></tr>
				<tr><td></td><td><input class="optionbox" type="radio" name="searchType" id="searchType3" value="3"{% if searchType == 3 %} checked="checked"{% endif %}/><label style="display: inline;" for="searchType3">{{ text(search_areagroup) }}</label></td></tr>
				<tr><td></td><td><input class="optionbox" type="radio" name="searchType" id="searchType2" value="2"{% if searchType == 2 %} checked="checked"{% endif %}/><label style="display: inline;" for="searchType2">{{ text(search_all_areas) }}</label></td></tr>
				
                <tr><td></td><td><input type="submit" value="{{ text(search) }}" class="button" /></td></tr>
            </table>
        </form>

		{{ text(search_number_of_hits) }} {{ numberOfHits }}

        <center><b>{{ area.name }}</b> - <ww:text name="search_result"/></center>
        <img src="/static/img/color.gif" width="100%" height="13" alt="---">
        <table align="center" class="widetable">
            <ww:iterator value="messages">
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						{% if searchType != 1 %}
							<ww:text name="area"/>: <a href="/area.View.action<ww:param name="areaID" value="areaID" /><sk:scroll />">{{ area(areaID).name }}</a>
						{% endif %}
						[ <a href="//areas/{{ area.pk }}/?areaID=areaID" /><ww:param name="gotoMessageID" value="id" />#{{ id }}"><ww:text name="go_to_message</a> ]
					</td>
				</tr>
                {% include "message.html" %}
            </ww:iterator>
        </table>

{% include "htmlfoot.html" %}